* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
  overflow-x: hidden;
}

.logo {
  max-width: 90px;
}

.input-search {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 5px 15px;
  outline: none;
}

.form-search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 16px;
  opacity: 0.5;
}
.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-top: 20px;
}

#carouselAutoplaying {
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1 !important;
  overflow-x: hidden;
}

#carouselAutoplaying .carousel-inner {
  overflow: visible !important;
  width: 90vw !important;
}

#carouselAutoplaying .carousel-item {
  position: relative;
}

#carouselAutoplaying .carousel-control-prev-icon {
  position: absolute;
  left: 0px;
}
#carouselAutoplaying .carousel-control-next-icon {
  position: absolute;
  right: 0px;
}

.hero-text {
  position: absolute;
  left: 25px;
  top: 60px;
  max-width: 33vw;
}

.hero-text img {
  max-width: 40px;
}

.hero-text h1 {
  color: white;
}

.hero-text p {
  color: white;
  margin: 20px 0;
}
.hero-text p:first-of-type {
  color: white;
  margin: 20px 0;
  font-size: 18px;
}
.hero-text p span {
  background-color: #ed1f2b;
  padding: 2px 8px;
  border-radius: 4px;
  margin: 0 20px;
}

.hero-text button {
  background-color: #ed1f2b !important;
  padding: 10 20px;
}

.trending {
  margin: 0 20px;
}

.trending .crown {
  position: absolute;
  right: 5px;
  top: 5px;
  max-width: 40px;
  background-color: red;
  padding: 5px;
  border-radius: 4px;
}

.trending-text {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  margin-bottom: -10px;
  margin-top: 20px;
}

.trending-text p:first-of-type {
  color: white;
  font-size: 20px;
  opacity: 1;
}
.trending-text p {
  color: white;
  font-size: 15px;
  opacity: 0.7;
  margin-bottom: 0;
  font-weight: bold;
}

.trending .carousel-inner {
  display: flex;
}
.trending .carousel-item {
  display: block;
  margin-right: 1rem;
  flex: 0 0 0 calc(100% / 4);
  transition: all 0.4s ease-in-out;
}

.trending .carousel-item img {
  width: 310px;
}
.trending .carousel-item:hover {
  transform: scale(1.1);
}

.trending .carousel-inner {
  margin: 1rem;
}

.trending .carousel-item {
  position: relative;
}

.trending .carousel-control-prev-icon {
  position: absolute;
  left: 0px;
}

.trending .carousel-control-next-icon {
  position: absolute;
  right: 0px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 4% !important;
}

.card-container {
  width: 100%;
  position: relative;
}
.card-container .card {
  border-radius: 0 !important;
  margin: 50px 0;
}
.card-container .card img {
  max-width: 100% !important;
  /* height:100%; */
}
.card-container .card .card-body {
  position: absolute;
  top: 20%;
  left: 60px;
  width: 38%;
}

.card-container .card button {
  position: absolute;
  right: 100px;
  bottom: 100px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.card-container .card .watch-on {
  position: absolute;
  right: 35px;
  bottom: 30px;
  background: transparent;
  border: none;
  color: white;
}

.card-container .card .watch-on img {
  width: 100px;
  margin: 10px;
}
.card-container .card .watch-on img:last-of-type {
  padding-top: 20px;
}

.footer-container {
  margin-left: 120px;
}

.footer-container a {
  text-decoration: none;
  opacity: 0.7;
}

#footer img {
  width: 100%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.footer-bottom .social-media {
  display: flex;
}
.footer-bottom .social-media img {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 80px !important;
  }
  .navbar-toggler {
    width: 50px;
  }
  .navbar-collapse form {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .navbar-collapse form .input-search {
    width: 100%;
  }
  .navbar-collapse form .btn {
    padding-left: 0 !important;
    width: 100%;
    margin: 12px 0 !important;
  }

  .hero-text {
    position: absolute;
    left: 25px;
    top: 5px;
    max-width: 33vw;
  }

  .hero-text h1 {
    color: white;
    font-size:22px !important;
  }
  .hero-text p {
    color: white;
    font-size:17px !important;
    margin:5px 0 !important;
  }
  .hero-text p:last-of-type{
    display: none !important;
  }
  .hero-text p span {
    background-color: #ed1f2b;
    padding: 1px 2px;
    border-radius: 2px;
    margin:0 8px;
  }
  .hero-text img {
    max-width: 30px;
  }
  .hero-text button{
    display: none !important;
  }

  .trending-text {
    background-color: #ed1f2b;
    width: 100%;
    margin: 30px 0 0 0;
    padding: 5px;
    border-radius: 5px;
  }

  .trending .carousel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 !important;
  }
  .trending .carousel-item {
    margin: 10px 5vw !important;
  }
  .trending .carousel-item img {
    width: 90vw !important;
  }
  .trending .carousel-control-prev {
    display: none !important;
  }
  .trending .carousel-control-next {
    display: none !important;
  }

  .card-container {
    min-height: 180px;
  }
  .card-container img {
    min-height: 180px;
  }
  .card-body {
    top: 15px !important;
    left: 15px !important;
  }
  .card-body h2 {
    font-size: 20px !important;
  }

  .card .watch-on img {
    width: 80px !important;
    min-height: 20px !important;
  }
  .card .watch-on {
    right: 5px !important;
    bottom: 5px !important;
  }
  .card button {
    right: 45px !important;
    bottom: 60px !important;
  }

  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #footer .footer-container {
    margin: 0 !important;
  }

  .footer-bottom div {
    font-size: 12px !important;
  }
  .footer-bottom .social-media img {
    width: 10px;
    height: 20px;
  }
}

@media only screen and (max-width: 1158px) {
  .navbar-nav .nav-link{
    margin-right:0px !important;
  }
  
  .card .card-body h2 {
    font-size: 25px !important;
  }
  .card .card-body p {
    font-size: 20px !important;
  }
  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #footer .footer-container {
    margin: 0 !important;
  }
  .hero-text {
    position: absolute;
    left: 25px;
    top: 25px !important;
    max-width: 33vw;
  }
  .hero-text{
    top:5px !important;
  }
}
@media only screen and (max-width: 782px) {
  .card .card-body h2 {
    font-size: 25px !important;
  }
  .card .card-body p {
    display: none !important;
  }

  #footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #footer .footer-container {
    margin: 0 !important;
  }
  .hero-text {
    position: absolute;
    left: 25px;
    top: 10px !important;
    max-width: 33vw;
  }
  .hero-text p:last-of-type{
    font-size:12px !important;
  }
  .hero-text button{
    display: none !important;
  }
}
